body {
  background-color: #edf2f4;
}

.headerContainer {
  background-color: #24292f;
  color: white;
  padding: 1em 3em;
  font-weight: 600;
  font-size: 1.3em;
}

.mainPage {
  background-color: gainsboro;
  min-height: 100vh;
}

.mainPageText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  font-weight: 800;
  font-size: 80px;
  flex-direction: column;
}

.title {
  text-decoration: none;
  color: white;
}